<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Address Book</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/foundation-icons/foundation-icons.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <h1>Address Book Application</h1>
    <div id="app">
      
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app-bundle.js"></script>
    
    <script type="text/template" id="entry-template">
      <table class = "entry">
        <tr class="view"><th>First Name</th><td class="view"><%=firstName %></td><td class="edit"><input type="text" id="firstName" placeholder=<%=firstName %>  /></td><td><i class="fi-pencil"></i></td></tr>
        <tr><th>Last Name</th><td><%=lastName %></td></tr>
        <% if (typeof birthday !== "undefined") { %>
          <tr><th>Birthday</th><td><%=birthday.slice(0,10) %></td></tr>
        <% } %>
        <% for (var i = 0; i < addresses.length; i++) { %>
          <tr><th><%= addresses[i].type %> Address</th>
            <td>
              <%= addresses[i].line1 %><br>
              <% if (typeof line2 !== "undefined") { %> <%= addresses[i].line2 %><br><% } %>
              <%= addresses[i].city %><br>
              <%= addresses[i].state %><br>
              <%= addresses[i].zip %><br>
              <%= addresses[i].country %><br>
            </td>
          </tr>
        <% } %>
        <% for (var i = 0; i < phones.length; i++) { %>
          <tr><th><%= phones[i].type %> Phone</th>
            <td>
              <%= phones[i].phoneType %></br>
              <%= phones[i].phoneNumber %></br>
            </td>
          </tr>
        <% } %>
        <% for (var i = 0; i < emails.length; i++) { %>
          <tr><th><%= emails[i].type %> Email</th>
            <td>
              <%= emails[i].email %></br>
            </td>
          </tr>
        <% } %>
      </table>
    </script>
    
  </body>
</html>
